html {
  box-sizing: border-box; }

body {
  min-height: 100vh; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  font-family: "Spartan", "Arial", "sans serif"; }

.heading-primary {
  font-size: 3rem;
  line-height: 3rem;
  color: #502050; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      text-align: center; } }

.heading-subtext {
  margin-top: 3rem;
  color: #502050;
  line-height: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-subtext {
      text-align: center; } }

.rating {
  background-color: #f7f2f7;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  width: 85%; }
  @media only screen and (max-width: 87.5em) {
    .rating {
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 72.5em) {
    .rating {
      margin: 1rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .rating {
      width: 100%; } }
  .rating:nth-child(n) {
    align-self: flex-start; }
  .rating:nth-child(2n) {
    align-self: center; }
  .rating:nth-child(3n) {
    align-self: flex-end; }
  @media only screen and (max-width: 87.5em) {
    .rating__stars {
      margin-bottom: 0.5rem; } }
  .rating__text {
    font-weight: 700; }

.testimonial {
  padding: 2rem;
  background-color: #502050;
  border-radius: 0.5rem;
  color: #f7f2f7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .testimonial:first-child {
    align-self: flex-start; }
    @media only screen and (max-width: 72.5em) {
      .testimonial:first-child {
        margin-top: 0; } }
  .testimonial:nth-child(2n) {
    align-self: center;
    margin: 0 2rem; }
    @media only screen and (max-width: 72.5em) {
      .testimonial:nth-child(2n) {
        margin: 0; } }
  .testimonial:last-child {
    align-self: flex-end; }
  @media only screen and (max-width: 72.5em) {
    .testimonial {
      margin: 2rem 0; } }
  .testimonial__header {
    display: flex; }
  .testimonial__image {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem; }
  .testimonial__credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem; }
  .testimonial__name {
    font-weight: 700;
    font-size: 1rem;
    display: inline-block; }
  .testimonial__function {
    color: #ee68a4;
    display: inline-block;
    margin-top: 0.25rem; }
  .testimonial__text {
    padding: 1rem 0;
    line-height: 1.5rem;
    font-size: 0.9rem; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  background-size: 40% 50%, 80% 80%;
  background-position: top 0 left 0, bottom 0 right 0;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 72.5em) {
    body {
      background-size: 40% 20%, 80% 20%; } }
  @media only screen and (max-width: 37.5em) {
    body {
      background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
      background-size: 100% 20rem, 100% 20rem; } }

.main {
  flex-grow: 1;
  margin: 5rem 0 2rem 0;
  min-height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    .main {
      width: 90vw; } }
  @media only screen and (max-width: 72.5em) {
    .main {
      margin-bottom: 3rem; } }

.bg-image-box {
  position: absolute;
  height: 100vh;
  width: 100vw; }

.bg-image {
  position: absolute; }
  .bg-image--top {
    top: 0;
    left: 0; }
  .bg-image--bottom {
    bottom: 0;
    right: 0;
    width: 100%; }

.section-intro {
  display: flex;
  margin-bottom: 3rem;
  min-height: 16.5rem; }
  @media only screen and (max-width: 72.5em) {
    .section-intro {
      flex-direction: column; } }

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 25rem; }
  @media only screen and (max-width: 72.5em) {
    .header {
      flex: 0 1; } }

.ratings {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 10%; }
  @media only screen and (max-width: 87.5em) {
    .ratings {
      padding: 0 10%; } }
  @media only screen and (max-width: 72.5em) {
    .ratings {
      margin-top: 2rem;
      padding: 0; } }

.testimonials {
  display: flex;
  justify-content: space-between;
  min-height: 20rem; }
  @media only screen and (max-width: 72.5em) {
    .testimonials {
      flex-direction: column; } }

.attribution {
  padding: 1rem;
  font-size: 0.875rem;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
    .attribution a:hover {
      color: orangered; }
